/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';

a.nav-link, .navbar-brand {
    color: white !important;
}

.nav-item {
    margin: 0 0.7rem;
    margin-bottom:1rem;
}

.nav-item:hover::after{
    width: 100%;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: white;
    transition: width .3s;
}
